<div id="base">
  <div *ngFor="let player of players" class="players" id="p{{player.position}}">
    <div *ngIf="displayPositions && player.empty">
        <img src="../../../assets/img/btn_position_0.png"
             class="btn_position-img"
             (mouseover)="btnLocationOver($event)"
             (mousedown)="btnLocationDown($event)"
             (mouseup)="btnLocationUp($event, player)"
             (mouseleave)="btnLocationOut($event)">
      </div>
  </div>

  <div *ngIf="displayPlayersPanel" id="playerPanel">
    <img src="../../../assets/img/panel.png" id="playerPanel-img">
    <img [src]="b_Ok.srcNone" [class]="b_Ok.cssClass"
         (mouseover)="b_Ok.onOver($event)"
         (mousedown)="b_Ok.onDown($event)"
         (mouseleave)="b_Ok.onOut($event)"
         (mouseup)="b_Ok.onUp($event, player)">
    <img [src]="b_Deny.srcNone" [class]="b_Deny.cssClass"
         (mouseover)="b_Deny.onOver($event)"
         (mousedown)="b_Deny.onDown($event)"
         (mouseleave)="b_Deny.onOut($event)"
         (mouseup)="b_Deny.onUp($event, player)">
    <img [src]="b_Delete.srcNone" [class]="b_Delete.cssClass"
         (mouseover)="b_Delete.onOver($event)"
         (mousedown)="b_Delete.onDown($event)"
         (mouseleave)="b_Delete.onOut($event)"
         (mouseup)="b_Delete.onUp($event, player)">
  </div>

</div>


