#table {
  width: 100%;
  height: 100%;
  display: block;
  /*background-image: url(../../../assets/img/game_table.png);*/
  /*background-size: contain;*/
  border: 2px dashed lightblue;
}
#table-img {
  position: absolute;
  display: inline;
  max-width: 98%;
  height: auto;
  z-index: 0;
}


