#base {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  border: 1px solid black;
  z-index: 1;
  padding-bottom: 66%;
}
.players{
  position: absolute;
  width: 13%;
  height: 35%;
  border: 3px solid darkred;
  z-index: 1;
}
.btn_position-img{
  height: auto;
  max-width: 100%;
  position: absolute;
}
#p0 {
  top: 0;
  left: 20%;
}
#p1 {
  top: 0;
  left: 35%;
}
#p2 {
  top: 0;
  left: 50%;
}
#p3 {
  top: 0;
  left: 65%;
}
#p4 {
  top: 40%;
  right: 0;
  width: 20%;
  height: 19%;
}
#p5 {
  bottom: 0;
  left: 65%;
}
#p6 {
  bottom: 0;
  left: 50%;
}
#p7 {
  bottom: 0;
  left: 35%;
}
#p8 {
  bottom: 0;
  left: 20%;
}
#p9 {
  top: 40%;
  left: 0;
  width: 20%;
  height: 19%;
}

#p0 .btn_position-img, #p1 .btn_position-img, #p2 .btn_position-img, #p3 .btn_position-img {
  bottom: 26%;
  left: 22%;
}
#p5 .btn_position-img, #p6 .btn_position-img, #p7 .btn_position-img, #p8 .btn_position-img {
  top: 0;
  left: 22%;
}
#p4 .btn_position-img {
  top: 0;
  left: 0;
  width: auto;
  max-height: 100%;
}
#p9 .btn_position-img {
    top: 0;
    right: 0;
  width: auto;
  max-height: 100%;
}

#playerPanel {
  position: relative;
  margin-top: 10%;
  display: inline-block;
  left: 24%;
  width: 50%;
  height: 0;
  border: 2px double purple;
  z-index: 2;
  padding-bottom: 40%;

}
#playerPanel-img {
  position: absolute;
  max-width: 100%;
  height: auto;
  z-index: 2;
}

