#base {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 1375px;
  max-height: 907px;
  height: 0;
  /*border: 5px solid black;*/
  z-index: 1;
  padding-bottom: 64%;
}
.players{
  position: absolute;
  width: 15%;
  height: 40%;
  border: 1px dotted mediumpurple;
  z-index: 1;
}
#playerPanel, #appointeePanel {
  position: relative;
  margin-top: 10%;
  display: inline-block;
  left: 24%;
  width: 50%;
  height: 0;
  /*border: 2px double purple;*/
  z-index: 2;
  padding-bottom: 40%;
  max-width: 567px;
  max-height: 453px;
}
#playerPanel-img, #appointeePanel-img {
  position: absolute;
  max-width: 100%;
  height: auto;
  z-index: 2;
}
.panel-form-div {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  /*border: 2px solid white;*/
}

/* BUTTONS AND PANELS */

.btn_ok-img {
  position: absolute;
  bottom: 5%;
  right: 10%;
  width: 25%;
  height: 28%;
  z-index: 3;
}
.btn_deny-img {
  position: absolute;
  bottom: 5%;
  right: 37%;
  width: 25%;
  height: 28%;
  z-index: 3;
}
.btn_delete-img {
  position: absolute;
  bottom: 5%;
  right: 64%;
  width: 25%;
  height: 28%;
  z-index: 3;
}
.btn_position-img{
  width: 38%;
  height: 32%;
  position: absolute;
}
.btn_name_appointee-img, .btn_name_player-img{
  width: 100%;
  height: 20%;
  position: absolute;
  z-index: 3;
}
.text-over-btn{
  position: absolute;
  display: block;
  font-size: 1.3vw;
  z-index: 4;
  font-weight: bold;
  color: white;
}
.panel-balance-img{
  top:18%;
  width: 100%;
  height: 20%;
  position: absolute;
  z-index: 3;
}
.text-balance{
  position: absolute;
  display: block;
  left: 13%;
  top: 24%;
  font-size: 1.3vw;
  z-index: 4;
  font-weight: bold;
  color: white;
}
.btn_dealer-img, .btn_gamedealer-img{
  width: 22%;
  height: 10%;
  position: absolute;
  z-index: 3;
}
/* PLAYERS POSITIONS */

#p0 {
  top: 0;
  left: 20%;
}
#p1 {
  top: 0;
  left: 35%;
}
#p2 {
  top: 0;
  left: 50%;
}
#p3 {
  top: 0;
  left: 65%;
}
#p4 {
  top: 40%;
  right: 0;
  width: 25%;
  height: 20%;
}
#p5 {
  bottom: 0;
  left: 65%;
}
#p6 {
  bottom: 0;
  left: 50%;
}
#p7 {
  bottom: 0;
  left: 35%;
}
#p8 {
  bottom: 0;
  left: 20%;
}
#p9 {
  top: 40%;
  left: 0;
  width: 25%;
  height: 20%;
}


#p0 .btn_position-img, #p1 .btn_position-img, #p2 .btn_position-img,#p3 .btn_position-img {
  bottom: 26%;
  left: 29%;
}
#p0 .btn_name_appointee-img, #p0 .btn_name_player-img, #p1 .btn_name_appointee-img, #p1 .btn_name_player-img,
#p2 .btn_name_appointee-img, #p2 .btn_name_player-img, #p3 .btn_name_appointee-img, #p3 .btn_name_player-img{
  top: 10%;
}
#p0 .text-over-btn, #p1 .text-over-btn, #p2 .text-over-btn, #p3 .text-over-btn{
  left: 13%;
  top: 16%;
}
#p0 .panel-balance-img, #p1 .panel-balance-img, #p2 .panel-balance-img, #p3 .panel-balance-img{
  top: 28%;
}
#p0 .text-balance, #p1 .text-balance, #p2 .text-balance, #p3 .text-balance{
  top: 34%;
}
#p0 .btn_dealer-img, #p0 .btn_gamedealer-img, #p1 .btn_dealer-img, #p1 .btn_gamedealer-img,
#p2 .btn_dealer-img, #p2 .btn_gamedealer-img, #p3 .btn_dealer-img, #p3 .btn_gamedealer-img {
  bottom: 25%;
  left: 0;
}


#p4 .btn_position-img {
  top: 0;
  left: 20%;
  width: 23%;
  height: 68%;
}
#p4 .btn_name_appointee-img, #p4 .btn_name_player-img{
  width: 53%;
  height: 40%;
  top: 0;
  right: 0;
}
#p4 .text-over-btn{
  width: 16%;
  height: 70%;
  left: 54%;
  top: 12%;
}
#p4 .panel-balance-img{
  width: 53%;
  height: 40%;
  top: 35%;
  right: 0;
}
#p4 .text-balance{
  width: 16%;
  height: 70%;
  left: 56%;
  top: 48%;
}
#p4 .btn_dealer-img, #p4 .btn_gamedealer-img{
  width: 13%;
  height: 23%;
  left: 32%;
  top: 0;
}


#p5 .btn_position-img, #p6 .btn_position-img, #p7 .btn_position-img, #p8 .btn_position-img {
  top: 0;
  left: 29%;
}
#p5 .btn_name_appointee-img, #p5 .btn_name_player-img, #p6 .btn_name_appointee-img, #p6 .btn_name_player-img,
#p7 .btn_name_appointee-img, #p7 .btn_name_player-img, #p8 .btn_name_appointee-img, #p8 .btn_name_player-img{
  top: 54%;
}
#p5 .text-over-btn, #p6 .text-over-btn, #p7 .text-over-btn, #p8 .text-over-btn{
  left: 13%;
  top: 60%;
}
#p5 .panel-balance-img, #p6 .panel-balance-img, #p7 .panel-balance-img, #p8 .panel-balance-img{
  top: 72%;
}
#p5 .text-balance, #p6 .text-balance, #p7 .text-balance, #p8 .text-balance{
  top: 78%;
}
#p5 .btn_dealer-img, #p5 .btn_gamedealer-img, #p6 .btn_dealer-img, #p6 .btn_gamedealer-img,
#p7 .btn_dealer-img, #p7 .btn_gamedealer-img, #p8 .btn_dealer-img, #p8 .btn_gamedealer-img {
  top: 25%;
  right: 0;
}


#p9 .btn_position-img {
  top: 0;
  right: 20%;
  width: 23%;
  height: 68%;
}
#p9 .btn_name_appointee-img, #p9 .btn_name_player-img{
  width: 53%;
  height: 40%;
  top: 0;
  left: 0;
}
#p9 .text-over-btn{
  width: 16%;
  height: 70%;
  left: 8%;
  top: 12%;
}
#p9 .panel-balance-img{
  width: 53%;
  height: 40%;
  top: 35%;
  left: 0;
}
#p9 .text-balance{
  width: 16%;
  height: 70%;
  left: 10%;
  top: 48%;
}
#p9 .btn_dealer-img, #p9 .btn_gamedealer-img{
  width: 13%;
  height: 23%;
  right: 38%;
  bottom: 0;
}

/* FORMS */
.ng-valid[required], .ng-valid.required  {
  border-left: 10px solid #42A948;
  border-right: 10px solid #42A948;
}
.ng-invalid:not(form)  {
  border-left: 10px solid orangered;
  border-right: 10px solid orangered;
}
