#base {
  position: relative;
  width: 100%;
  height: 0;
  border: 1px solid black;
  z-index: 1;
  padding-bottom: 66%;
}
.players{
  position: absolute;
  width: 13%;
  height: 30%;
  border: 3px solid darkred;
}
#p0 {
  top: 3%;
  left: 22%;
}
#p1 {
  top: 3%;
  left: 37%;
}
#p2 {
  top: 3%;
  left: 52%;
}
#p3 {
  top: 3%;
  left: 67%;
}
#p4 {
  top: 40%;
  right: 0;
  width: 20%;
  height: 19%;
}
#p5 {
  bottom: 3%;
  left: 67%;
}
#p6 {
  bottom: 3%;
  left: 52%;
}
#p7 {
  bottom: 3%;
  left: 37%;
}
#p8 {
  bottom: 3%;
  left: 22%;
}
#p9 {
  top: 40%;
  left: 0;
  width: 20%;
  height: 19%;
}

