<div id="table">
  <div id="base">
    <img *ngIf="panelBlock.displaySysGo" [src]="panelBlock.b_sys_go.srcNone" [class]="panelBlock.b_sys_go.cssClass"
         (mouseover)="panelBlock.b_sys_go.onOver($event)"
         (mousedown)="panelBlock.b_sys_go.onDown($event)"
         (mouseleave)="panelBlock.b_sys_go.onOut($event)"
         (mouseup)="panelBlock.b_sys_go.onUp($event, 'd')">
    <img *ngIf="panelBlock.displaySysReset" [src]="panelBlock.b_sys_reset.srcNone" [class]="panelBlock.b_sys_reset.cssClass"
         (mouseover)="panelBlock.b_sys_reset.onOver($event)"
         (mousedown)="panelBlock.b_sys_reset.onDown($event)"
         (mouseleave)="panelBlock.b_sys_reset.onOut($event)"
         (mouseup)="panelBlock.b_sys_reset.onUp($event, 'd')">


    <div *ngFor="let player of playersBlock.players" class="players" id="p{{player.position}}">
      <div *ngIf="playersBlock.displayPositions && player.empty">
        <img [src]="playersBlock.b_Position.srcNone" [class]="playersBlock.b_Position.cssClass"
             (mouseover)="playersBlock.b_Position.onOver($event)"
             (mousedown)="playersBlock.b_Position.onDown($event)"
             (mouseleave)="playersBlock.b_Position.onOut($event)"
             (mouseup)="playersBlock.b_Position.onUp($event, player)">
      </div>

      <div *ngIf="!player.empty && player.isAppointee">
        <img [src]="playersBlock.b_Name_appointee.srcNone" [class]="playersBlock.b_Name_appointee.cssClass"
             (mouseover)="playersBlock.b_Name_appointee.onOver($event)"
             (mousedown)="playersBlock.b_Name_appointee.onDown($event)"
             (mouseleave)="playersBlock.b_Name_appointee.onOut($event)"
             (mouseup)="playersBlock.b_Name_appointee.onUp($event, player)">
        <p class="text-over-btn">{{player.name}}</p>
        <img src="../../../assets/img/panel_balance_appointee.png" class="panel-balance-img">
        <p class="text-balance">{{player.balance}}</p>
      </div>
      <div *ngIf="!player.empty && !player.isAppointee">
        <div>
          <img [src]="playersBlock.b_Name_player.srcNone" [class]="playersBlock.b_Name_player.cssClass"
               (mouseover)="playersBlock.b_Name_player.onOver($event)"
               (mousedown)="playersBlock.b_Name_player.onDown($event)"
               (mouseleave)="playersBlock.b_Name_player.onOut($event)"
               (mouseup)="playersBlock.b_Name_player.onUp($event, player)">
          <p class="text-over-btn">{{player.name}}</p>
        </div>
        <div>
          <img src="../../../assets/img/panel_balance_player.png" class="panel-balance-img">
          <p class="text-balance">{{player.balance}}</p>
        </div>
      </div>

      <div class="card-0">
        <img [src]="player.card_0.srcImg" [class]="player.card_0.cssClass"  [id]="player.card_0.cssId"
             (mouseover)="playersBlock.selectCard(player.card_0, 'over')"
             (mousedown)="playersBlock.selectCard(player.card_0, 'down')"
             (mouseleave)="playersBlock.selectCard(player.card_0, 'leave')"
             (mouseup)="playersBlock.selectCard(player.card_0, 'up')">
      </div>

      <div class="card-1">
        <img [src]="player.card_1.srcImg" [class]="player.card_1.cssClass"  [id]="player.card_1.cssId"
             (mouseover)="playersBlock.selectCard(player.card_1, 'over')"
             (mousedown)="playersBlock.selectCard(player.card_1, 'down')"
             (mouseleave)="playersBlock.selectCard(player.card_1, 'leave')"
             (mouseup)="playersBlock.selectCard(player.card_1, 'up')">
      </div>

      <div *ngIf="!player.empty && playersBlock.displaySelectDealer">
        <img [src]="playersBlock.b_Dealer_init.srcNone" [class]="playersBlock.b_Dealer_init.cssClass"
             (mouseover)="playersBlock.b_Dealer_init.onOver($event)"
             (mousedown)="playersBlock.b_Dealer_init.onDown($event)"
             (mouseleave)="playersBlock.b_Dealer_init.onOut($event)"
             (mouseup)="playersBlock.b_Dealer_init.onUp($event, player)">
      </div>
      <div *ngIf="player.isDealer">
        <img [src]="playersBlock.b_Dealer_game.srcNone" [class]="playersBlock.b_Dealer_game.cssClass"
             (mouseover)="playersBlock.b_Dealer_game.onOver($event)"
             (mousedown)="playersBlock.b_Dealer_game.onDown($event)"
             (mouseleave)="playersBlock.b_Dealer_game.onOut($event)"
             (mouseup)="playersBlock.b_Dealer_game.onUp($event, player)">
      </div>
    </div>
    <div id="banker">
      <div class="card-0">
        <img [src]="banker.card_0.srcImg" [class]="banker.card_0.cssClass"  [id]="banker.card_0.cssId"
             (mouseover)="playersBlock.selectCard(banker.card_0, 'over')"
             (mousedown)="playersBlock.selectCard(banker.card_0, 'down')"
             (mouseleave)="playersBlock.selectCard(banker.card_0, 'leave')"
             (mouseup)="playersBlock.selectCard(banker.card_0, 'up')">
      </div>
      <div class="card-1">
        <img [src]="banker.card_1.srcImg" [class]="banker.card_1.cssClass"  [id]="banker.card_1.cssId"
             (mouseover)="playersBlock.selectCard(banker.card_1, 'over')"
             (mousedown)="playersBlock.selectCard(banker.card_1, 'down')"
             (mouseleave)="playersBlock.selectCard(banker.card_1, 'leave')"
             (mouseup)="playersBlock.selectCard(banker.card_1, 'up')">
      </div>
      <div class="card-2">
        <img [src]="banker.card_2.srcImg" [class]="banker.card_2.cssClass"  [id]="banker.card_2.cssId"
             (mouseover)="playersBlock.selectCard(banker.card_2, 'over')"
             (mousedown)="playersBlock.selectCard(banker.card_2, 'down')"
             (mouseleave)="playersBlock.selectCard(banker.card_2, 'leave')"
             (mouseup)="playersBlock.selectCard(banker.card_2, 'up')">
      </div>
      <div class="card-3">
        <img [src]="banker.card_3.srcImg" [class]="banker.card_3.cssClass"  [id]="banker.card_3.cssId"
             (mouseover)="playersBlock.selectCard(banker.card_3, 'over')"
             (mousedown)="playersBlock.selectCard(banker.card_3, 'down')"
             (mouseleave)="playersBlock.selectCard(banker.card_3, 'leave')"
             (mouseup)="playersBlock.selectCard(banker.card_3, 'up')">
      </div>
      <div class="card-4">
        <img [src]="banker.card_4.srcImg" [class]="banker.card_4.cssClass"  [id]="banker.card_4.cssId"
             (mouseover)="playersBlock.selectCard(banker.card_4, 'over')"
             (mousedown)="playersBlock.selectCard(banker.card_4, 'down')"
             (mouseleave)="playersBlock.selectCard(banker.card_4, 'leave')"
             (mouseup)="playersBlock.selectCard(banker.card_4, 'up')">
      </div>
    </div>
    <div *ngIf="panelBlock.displayInitialPanel" id="initialPanel">
      <div class="panel-form-div container">
        <form (ngSubmit)="panelBlock.panelSave()" #initialPanelForm="ngForm">
          <tr>
            <td>
              <div class="form-group" >
                <label for="server" style="color: white">Server</label>
                <select [(ngModel)]="server" class="form-control" id="server" name="server" required>
                  <option *ngFor="let x of serverNames" [value]="x.value" [selected]="server == x.value">{{x.name}}</option>
                </select>
              </div>
            </td>
            <td>
              <div class="form-group" >
                <label for="gameType" style="color: white">Game</label>
                <select [(ngModel)]="gameType" class="form-control" id="gameType" name="gameType" required>
                  <option *ngFor="let x of gameTypeList" [value]="x.value" [selected]="gameType == x.value">{{x.name}}</option>
                </select>
              </div>
            </td>
            <td>
              <div class="form-group" >
                <label for="gameBetType" style="color: white">Bet Type</label>
                <select [(ngModel)]="gameBetType" class="form-control" id="gameBetType" name="gameBetType" required>
                  <option *ngFor="let x of gameBetTypeList" [value]="x.value" [selected]="gameBetType == x.value">{{x.name}}</option>
                </select>
              </div>
            </td>
          </tr>
          <br/>
          <tr>
            <td>
              <div class="form-group" >
                <label for="blindBig" style="color: white">Big Blind</label>
                <input type="number" class="form-control" id="blindBig" required
                       [(ngModel)]="blindBig" name="blindBig">
              </div>
            </td>
            <td>
              <div class="form-group" >
                <label for="blindSmall" style="color: white">Small Blind</label>
                <input type="number" class="form-control" id="blindSmall" required
                       [(ngModel)]="blindSmall" name="blindSmall">
              </div>
            </td>
            <td>
              <div class="form-group" >
                <label for="blindAnte" style="color: white">Ante</label>
                <input type="number" class="form-control" id="blindAnte" required
                       [(ngModel)]="blindAnte" name="blindAnte">
              </div>
            </td>
          </tr>
        </form>
      </div>

      <img *ngIf="initialPanelForm.form.valid"
           [src]="panelBlock.b_Ok.srcNone" [class]="panelBlock.b_Ok.cssClass"
           (mouseover)="panelBlock.b_Ok.onOver($event)"
           (mousedown)="panelBlock.b_Ok.onDown($event)"
           (mouseleave)="panelBlock.b_Ok.onOut($event)"
           (mouseup)="panelBlock.b_Ok.onUp($event)">
      <img [src]="panelBlock.b_Deny.srcNone" [class]="panelBlock.b_Deny.cssClass"
           (mouseover)="panelBlock.b_Deny.onOver($event)"
           (mousedown)="panelBlock.b_Deny.onDown($event)"
           (mouseleave)="panelBlock.b_Deny.onOut($event)"
           (mouseup)="panelBlock.b_Deny.onUp($event)">
      <img [src]="panelBlock.b_Delete.srcNone" [class]="panelBlock.b_Delete.cssClass"
           (mouseover)="panelBlock.b_Delete.onOver($event)"
           (mousedown)="panelBlock.b_Delete.onDown($event)"
           (mouseleave)="panelBlock.b_Delete.onOut($event)"
           (mouseup)="panelBlock.b_Delete.onUp($event)">
    </div>
    <div *ngIf="panelBlock.displayAppointeePanel" id="appointeePanel">
      <img src="../../../assets/img/panel.png" id="appointeePanel-img">

      <div class="panel-form-div container">
        <form (ngSubmit)="panelBlock.panelSave()" #playersPanelForm="ngForm">

          <h2 style="color: white">You are here</h2>

          <div class="form-group" >
            <label for="balance" style="color: white">Balance</label>
            <input type="number" class="form-control" id="balance" required
                   [(ngModel)]="panelBlock.playerPanelData.balance" name="balance">
          </div>
        </form>
      </div>


      <img *ngIf="playersPanelForm.form.valid"
           [src]="panelBlock.b_Ok.srcNone" [class]="panelBlock.b_Ok.cssClass"
           (mouseover)="panelBlock.b_Ok.onOver($event)"
           (mousedown)="panelBlock.b_Ok.onDown($event)"
           (mouseleave)="panelBlock.b_Ok.onOut($event)"
           (mouseup)="panelBlock.b_Ok.onUp($event, player)">
      <img [src]="panelBlock.b_Deny.srcNone" [class]="panelBlock.b_Deny.cssClass"
           (mouseover)="panelBlock.b_Deny.onOver($event)"
           (mousedown)="panelBlock.b_Deny.onDown($event)"
           (mouseleave)="panelBlock.b_Deny.onOut($event)"
           (mouseup)="panelBlock.b_Deny.onUp($event, player)">
      <img [src]="panelBlock.b_Delete.srcNone" [class]="panelBlock.b_Delete.cssClass"
           (mouseover)="panelBlock.b_Delete.onOver($event)"
           (mousedown)="panelBlock.b_Delete.onDown($event)"
           (mouseleave)="panelBlock.b_Delete.onOut($event)"
           (mouseup)="panelBlock.b_Delete.onUp($event, player)">
    </div>
    <div *ngIf="panelBlock.displayPlayersPanel" id="playerPanel">
      <img src="../../../assets/img/panel.png" id="playerPanel-img">

      <div class="panel-form-div container">
        <form (ngSubmit)="panelSave()" #playersPanelForm="ngForm">
          <div class="form-group">
            <label for="name" style="color: white">Nickname</label>
            <input type="text" class="form-control" id="name" required
                   [(ngModel)]="panelBlock.playerPanelData.name" name="name">
          </div>

          <div class="form-group" >
            <label for="balance" style="color: white">Balance</label>
            <input type="number" class="form-control" id="balance" required
                   [(ngModel)]="panelBlock.playerPanelData.balance" name="balance">
          </div>
        </form>
      </div>


      <img *ngIf="playersPanelForm.form.valid"
           [src]="panelBlock.b_Ok.srcNone" [class]="panelBlock.b_Ok.cssClass"
           (mouseover)="panelBlock.b_Ok.onOver($event)"
           (mousedown)="panelBlock.b_Ok.onDown($event)"
           (mouseleave)="panelBlock.b_Ok.onOut($event)"
           (mouseup)="panelBlock.b_Ok.onUp($event, player)">
      <img [src]="panelBlock.b_Deny.srcNone" [class]="panelBlock.b_Deny.cssClass"
           (mouseover)="panelBlock.b_Deny.onOver($event)"
           (mousedown)="panelBlock.b_Deny.onDown($event)"
           (mouseleave)="panelBlock.b_Deny.onOut($event)"
           (mouseup)="panelBlock.b_Deny.onUp($event, player)">
      <img [src]="panelBlock.b_Delete.srcNone" [class]="panelBlock.b_Delete.cssClass"
           (mouseover)="panelBlock.b_Delete.onOver($event)"
           (mousedown)="panelBlock.b_Delete.onDown($event)"
           (mouseleave)="panelBlock.b_Delete.onOut($event)"
           (mouseup)="panelBlock.b_Delete.onUp($event, player)">
    </div>
    <div *ngIf="panelBlock.displayCardPanel" id="cardPanel">
      <img src="../../../assets/img/panel.png" id="cardPanel-img">
      <div *ngIf="panelBlock.cardPanelChooseSuit" id="selectSuit">
        <img [src]="panelBlock.b_suit_d.srcNone" [class]="panelBlock.b_suit_d.cssClass"
             (mouseover)="panelBlock.b_suit_d.onOver($event)"
             (mousedown)="panelBlock.b_suit_d.onDown($event)"
             (mouseleave)="panelBlock.b_suit_d.onOut($event)"
             (mouseup)="panelBlock.b_suit_d.onUp($event, 'd')">
        <img [src]="panelBlock.b_suit_h.srcNone" [class]="panelBlock.b_suit_h.cssClass"
             (mouseover)="panelBlock.b_suit_h.onOver($event)"
             (mousedown)="panelBlock.b_suit_h.onDown($event)"
             (mouseleave)="panelBlock.b_suit_h.onOut($event)"
             (mouseup)="panelBlock.b_suit_h.onUp($event, 'h')">
        <img [src]="panelBlock.b_suit_s.srcNone" [class]="panelBlock.b_suit_s.cssClass"
             (mouseover)="panelBlock.b_suit_s.onOver($event)"
             (mousedown)="panelBlock.b_suit_s.onDown($event)"
             (mouseleave)="panelBlock.b_suit_s.onOut($event)"
             (mouseup)="panelBlock.b_suit_s.onUp($event, 's')">
        <img [src]="panelBlock.b_suit_c.srcNone" [class]="panelBlock.b_suit_c.cssClass"
             (mouseover)="panelBlock.b_suit_c.onOver($event)"
             (mousedown)="panelBlock.b_suit_c.onDown($event)"
             (mouseleave)="panelBlock.b_suit_c.onOut($event)"
             (mouseup)="panelBlock.b_suit_c.onUp($event, 'c')">
      </div>

      <div *ngIf="panelBlock.cardPanelChooseCard">
        <div *ngFor="let card of panelBlock.cardPanelCards">
          <img [src]="card.srcImg" [class]="card.cssClass"  [id]="card.cssId"
               (click)="panelBlock.cardSelectId(card.id)">
        </div>
      </div>
    </div>
  </div>
</div>
