.card_base-img {
  position: absolute;
  width: 24.62%;
  height: 20.73%;
  /*width: 27.36%;*/
  /*height: 23.04%;*/
  z-index: 5;
  bottom: 0;
}

#card-0-0, #card-1-0, #card-2-0, #card-3-0    {
  bottom: 15%;
  right: 51%
}
#card-0-1, #card-1-1, #card-2-1, #card-3-1 {
  bottom: 15%;
  right: 23%
}

#card-4-0 {
  width: 14.89%;
  height: 44.05%;
  top: 25%;
  left: 14%;
}
#card-4-1  {
  top: 25%;
  width: 14.89%;
  height: 44.05%;
  left: 30%;
}

#card-5-0, #card-6-0, #card-7-0, #card-8-0    {
  top: 19%;
  right: 53%
}
#card-5-1, #card-6-1, #card-7-1, #card-8-1 {
  top: 19%;
  right: 25%
}
#card-9-0 {
  width: 14.89%;
  height: 44.05%;
  top: 25%;
  left: 52%;
}
#card-9-1  {
  top: 25%;
  width: 14.89%;
  height: 44.05%;
  left: 68%;
}
#card-10-0  {
  top: 25%;
  width: 7.45%;
  height: 44.05%;
  right: 22%;
}
#card-10-1  {
  top: 25%;
  width: 7.45%;
  height: 44.05%;
  right: 30%;
}
#card-10-2  {
  top: 25%;
  width: 7.45%;
  height: 44.05%;
  right: 38%;
}
#card-10-3  {
  top: 25%;
  width: 7.45%;
  height: 44.05%;
  right: 46%;
}
#card-10-4  {
  top: 25%;
  width: 7.45%;
  height: 44.05%;
  right: 54%;
}

.card_panel-img {
  position: absolute;
  width: 12%;
  height: 20%;
  z-index: 5;
}

#cardPanel-0 {
  top: 10%;
  left: 5%;
}
#cardPanel-1 {
  top: 10%;
  left: 20%;
}
#cardPanel-2 {
  top: 10%;
  left: 35%;
}
#cardPanel-3 {
  top: 10%;
  left: 50%;
}
#cardPanel-4 {
  top: 10%;
  left: 65%;
}
#cardPanel-5 {
  top: 10%;
  left: 80%;
}
#cardPanel-6 {
  top: 40%;
  left: 5%;
}
#cardPanel-7 {
  top: 40%;
  left: 20%;
}
#cardPanel-8 {
  top: 40%;
  left: 35%;
}
#cardPanel-9 {
  top: 40%;
  left: 50%;
}
#cardPanel-10 {
  top: 40%;
  left: 65%;
}
#cardPanel-11 {
  top: 40%;
  left: 80%;
}
#cardPanel-12 {
  top: 70%;
  left: 5%;
}
